@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>

    h1 {
        text-align: center;
    }

    h4 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }
</style>

<body>


    <div class="container" style="background-color: grey; padding: 0;">
        <div class="panel panel-default" style="background-color: grey">
            <div class="panel-heading" style="background-color: grey" ;> <h1>Verulam Secondary bookstore</h1></div>
            <div class="panel-body">

                <p><h3>Verulam Sacondary's online store was established in 2022.</h3></p>
                <p>
                    <h4>
                        We are striving to create opportunities for students and independent users to experience the joy of books weather its for leisure, work or personal reasons.
                        Our mission is to provide our customers with first class products, value for money and excellent customer services.
                        We stock books that cater for everyone’s needs, we are sure that our wide variety of books will do just that.
                    </h4>
                </p>
                <br />
                <p>
                    <h4>
                        Our new platform is convenient for our customers as our book store will allow you to browse all the books at tour leisure but if you need to make a purchase then you will be forced to either sign in or login if you are not already.
                        You will then be able to buy/borrow books form our catalogue. You can also write comments requesting books. Payment is also easier as you can either pay online or pay when your items are delivered.
                    </h4>
                </p>
                <br />
                <p>
                    <h4>
                        In championing convenience, we do everything we can to encourage a stress free and rewarding shopping experience.
                        The use of vibrant eye-catching displays was used with intuitive layouts.
                        This was done to make you the user to feel more at home.
                        The Verulam high online store team prioritizes their customers’ needs so that shopping for the book of your needs are made easier because the books are placed in categories which means that no individual will find it hard to find a book.
                        Finally, we tend to keep our prices as low as possible so that we can cater for all income brackets. We can always assure you that when you purchase books from us you will always get great value for money. Our team will never fail to impress you.
                    </h4>
                </p>
                <br />
                <p>
                    <h1>Our mission is to provide quality but affordable books for education, entertainment, self-development and self-fulfillment </h1>
                </p>

            </div>
        </div>
    </div>

</body>
